<% layout('layout') -%>

<% block('css').append('<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">') %>
<% block('js').append('<script src="/javascripts/index.js"></script>') %>

<div class="center">
	<div class="largeText">Welcome to the LoL project.</div>
</div>