body {
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.aatroxImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}

.primary-background-color {
	background-color: #5882FA;
}

.primary-color {
	color: #5882FA;
}

.menu {
	background-color: #58ACFA;
	padding-top: 30px;
	padding-bottom: 20px;
}